body{
    background-image: url(https://resnicklab.files.wordpress.com/2012/05/total_sombrero_no_background.jpg);
}
title{
	font-weight: 600;
  color: white;
  font-size:120px;
/*  background: white;*/
/*  background-position: 40% 50%;*/
/*
    position: static;
  -webkit-background-clip: text;
    position: static;
*/
  text-align:center;
  line-height:100px;

  letter-spacing: -8px;
}
.subtitle{
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top:0px;
  font-size: 18px
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background: rgba(0,0,0,0.75);
	position: fixed;
	width: 100%;
	left: 0%;
	right: 0%;
	margin: 0px;
	width: 100%;
	z-index: 500;
}

li {
    position: sticky;
	
	float: left;
/*	background: rgba(255,255,255,0.5);*/
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 40px;
/*	background:rgba(255,255,255,0.5);*/
}

li a:hover:not(.active) {
     font-style: bold;
  transform: scale(1.5);

}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    min-width: 160px;
   box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2)
}

.dropdown-content a {
    color: white;
    padding: 7px 9px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    transform: #;
}
#logo{
	max-height: 105px;
	max-width: 165px;
	position: sticky;
}
h1{
color: white;
text-align: center;
font-family: 'Raleway', sans-serif;
position: relative;
font-size:80px;
top:100px;
}
h2{
    color: white;
text-align: center;
font-family: 'Raleway',sans-serif;
font-weight: 200;
position: relative;
    font-size: 32px;

}
img{
    border: 2px;
    border-color: white;
    padding: 4px;
    border-radius: 30px;
}
#main{
    font-family:'Raleway',sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 18px;
    color:white;
    margin-left: 3cm;
    margin-right:3cm;
}
.box{
background: rgba(160,160,160,0.6);
margin-right: 70px;
margin-left: 70px;
}


.box2{
background: rgba(160,160,160,0.6);
}

#font{
    font-family:'Raleway',sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 14px;
    color:white;
}
#fontsize{
    font-family:'Raleway',sans-serif;
    font-weight: 150;
    text-align: center;
    font-size: 20px;
    color:white; 
}
